$colorWhite: #ffffff;
$lightBlack: #212121;
$colorBlue: #2196f3;
$mediumGrey: #757575;
$darkGrey: #2f303a;
$hoverColor: #2196f3;
$fontFamily: "Roboto", sans-serif;
$fontWeight: 400;
$fontSize: 14px;
$letterSpacing: 0.03em;
